body {
    background-color:rgb(157, 185, 197);
}

ul {
    background-color: cadetblue;
    border-radius: 10px;
    
}

#outer-list {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 2%;
    margin-right: 10%;
    outline: auto;
}

.inner-list-header {
    margin-top: 3px;
    /* width: 80%; */
    /* float: left; */
}
.inner-list-year {
    margin-top: 0px;
    float: right;
}
.inner-list {
    padding-left: 20px;
    padding-right: 4px;
    clear: right;
}

nav { 
    background-color:rgba(128, 0, 0, 0.507);
    padding: 5px;
    display: flex;
    border-radius: 3px;
}

#nav-item {
    background-color: rgba(210, 211, 214, 0.991); 
    border-style: ridge;
    border-color: aliceblue;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    padding: 5px;
}

#nav-item:hover {
    background-color: rgb(231, 199, 141);
}

#school-image {
    size: 1%;
    width: 50px;
    display: inline-block;
    float: left;
}

#school-list {
    display: inline-block;
}

.click-image {
    width: 60px;
    transition: transform 1s ease-in-out;
}

.click-image:hover {
    transform: rotateY(180deg) rotateX(180deg);
}


/* 
.click-link {
    transition: transform 0.5s;
}

.click-link:hover {
    transform: rotateZ('180');
} */